<div class="content">
    <div class="row">
        <admin-rider-table header="Juniors" [riders]="ridersJunior" (riderSelected)="onRiderSelected($event)">           
        </admin-rider-table>
    </div>

    <div class="row">
        <admin-rider-table header="B.LADIES" [riders]="ridersGirls" (riderSelected)="onRiderSelected($event)">           
        </admin-rider-table>
    </div>

    <div class="row">
        <admin-rider-table header="AM" [riders]="ridersAm" (riderSelected)="onRiderSelected($event)">           
        </admin-rider-table>
    </div>

    <div class="row">
        <admin-rider-table header="Pros" [riders]="ridersPro" [showSponsors]="true" (riderSelected)="onRiderSelected($event)">
        </admin-rider-table>
    </div>

    <div class="row">
        <admin-rider-table header="Seniors" [riders]="ridersSenior" (riderSelected)="onRiderSelected($event)">           
        </admin-rider-table>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button (click)="releaseRiders()" class="btn btn-lg btn-block btn-info">Unlock Selected Riders</button>
        </div>
        <div class="col-md-4">
            <button (click)="deleteRiders()" class="btn btn-lg btn-block btn-danger">Delete Selected Riders</button>
        </div>
    </div>
</div>