<h3>{{header}}:</h3>
<table class="stripped riderlist-table">
    <thead>
        <tr>
            <th></th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Age</th>
            <th>Country</th>

            <th *ngIf="showSponsors">Sponsors</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rider of riders | async" (click)="addToSelection(rider)" [class.active]="rider.isSelected">
            <td>{{rider.isSelected}}</td>
            <td>{{rider.firstname}}</td>
            <td>{{rider.lastname}}</td>
            <td>{{rider.age}}</td>
            <td>{{rider.country}}</td>

            <td *ngIf="showSponsors">{{rider.sponsors}}</td>
        </tr>
    </tbody>
</table>