<div class="sidebar pull_right">
    <div class="sidebar-date">
        <h2>Date</h2>
        <h3>07 / 10 / 2017</h3>
    </div>

    <div class="sidebar-location">
        <h2>Location</h2>
        <p>
            <strong>Abenteuerhalle Kalk</strong><br>
            Christian Suenner Strasse 8<br>
            51103 Koeln
        </p>
    </div>

    <div class="sidebar-timetables">
        <h2>Timetable</h2>

        <table class="table-striped">
            <thead>
                <tr>
                    <th>Friday</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15:00</td>
                    <td>Open Session/Practice - Blade only all day long</td>
                </tr>
                <tr>
                    <td>20:00</td>
                    <td>Special Pre-Competition</td>
                </tr>
            </tbody>
        </table>

        <br>

        <table class="table-striped">
            <thead>
                <tr>
                    <th>Saturday</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>11:00</td>
                    <td>Doors/Practice</td>
                </tr>
                <tr>
                    <td>13:30</td>
                    <td>Juniors Qualification</td>
                </tr>
                <tr>
                    <td>...</td>
                    <td>...</td>
                </tr>
                <tr>
                    <td>23:00</td>
                    <td>Afterparty</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

