<div class="content">
    <div class="site-heading">
        <h1>Add News</h1>
    </div>
    <div class="row">
        <form #form="ngForm" (ngSubmit)="submitNews()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': title.invalid && title.touched }">
                        <input type="text" class="form-control" name="title" placeholder="Title" required
                            [(ngModel)]="newNews.title" #title="ngModel">
                
                        <span class="help-block" *ngIf="title.invalid && title.touched">Title is required.</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': content.invalid && content.touched }">
                        
                        <textarea class="form-control" name="content" placeholder="Content" required
                            [(ngModel)]="newNews.content" #content="ngModel">

                        </textarea>
                
                        <span class="help-block" *ngIf="content.invalid && content.touched">Content is required.</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="imageUrl" placeholder="Image URL"
                            [(ngModel)]="newNews.imageUrl">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="vimeo" placeholder="Vimeo Iframe URL: https://player.vimeo.com/video/201192224"
                            [(ngModel)]="newNews.vimeo">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="youtube" placeholder="Youtube Iframe URL: https://www.youtube.com/embed/3qy5Bh8rEfI"
                            [(ngModel)]="newNews.youtube">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-lg btn-block btn-primary"
                        [disabled]="form.invalid">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>