<div class="content">
    <div class="site-heading">
        <h1>Videos</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <iframe src="https://player.vimeo.com/video/190255334" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <iframe src="https://player.vimeo.com/video/140437449" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>    
        </div>
    </div>

    <div class="row">
        <div clas="col-md-6">
            <iframe src="https://player.vimeo.com/video/111511208" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>    
        </div>

        <div clas="col-md-6">
            <iframe src="https://player.vimeo.com/video/107503789" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>