<div class="content">
    <div class="site-heading">
        <h1>Sponsors</h1>
    </div>

    <div class="row sponsor-grid">
        <div class="col-md-6 sponsor four-columns">
            <a href="http://www.locoskates.com/" target="_blank">
                <img src="/assets/images/sponsors/locoskates.jpg">
            </a>
            <h5>
                <a href="http://www.locoskates.com" target="_blank">Loco Skates</a>
            </h5>
        </div>
        <div class="col-md-6 sponsor four-columns">
            <a href="http://www.grindhouse.eu" target="_blank">
                <img src="/assets/images/sponsors/GHLogo.jpg">
            </a>
            <h5>
                <a href="http://www.grindhouse.eu" target="_blank">Grindhouse</a>
            </h5>
        </div>
        <div class="col-md-6 sponsor four-columns">
            <a href="http://www.adaptbrand.com" target="_blank">
                <img src="/assets/images/sponsors/adapt.jpg">
            </a>
            <h5>
                <a href="http://www.adaptbrand.com" target="_blank">Adapt Brand</a>
            </h5>
        </div>
    </div>

    <div class="row sponsor-grid">
        <div class="col-md-6 sponsor four-columns">
            <a href="http://www.theblackjacks.de" target="_blank">
                <img src="/assets/images/sponsors/blackjack.jpg">
            </a>
            <h5>
                <a href="http://www.theblackjacks.de" target="_blank">Black Jack</a>
            </h5>
        </div>
        <div class="col-md-6 sponsor four-columns">
            <a href="http://www.be-mag.com" target="_blank">
                <img src="/assets/images/sponsors/be-mag.jpg">
            </a>
            <h5>
                <a href="http://www.be-mag.com" target="_blank">Be-Mag</a>
            </h5>
        </div>
        <div class="col-md-6 sponsor four-columns">
            <a href="http://www.skatesolution.com" target="_blank">
                <img src="/assets/images/sponsors/skatesolution.jpg">
            </a>
            <h5>
                <a href="http://www.skatesolution.com" target="_blank">Skate Solution</a>
            </h5>
        </div>
    </div>
</div>